@page "/addinventory"

@inject IAddInventoryUseCase AddInventoryUseCase
@inject NavigationManager NavigationManager

<h3>Add Inventory</h3>
<br/>

<!--In Blazor, we use the built-in EditForm component rather than the HTMLs Form tag.
    Note that inventory here is referring to the private variable in the code block below.
    Also note that Save here is referring to the private Save() method in the code block below.
    
    IMPORTANT: The EditForm component must be given a name via the FormName attribute, as this is required by static SSR (server-side rendering).
-->
<EditForm Model="inventory" FormName="formInventory" OnValidSubmit="Save">
    <!--This razor component uses the data annotation attributes we put in the Inventory class to specify how to validate each field.-->
    <DataAnnotationsValidator/>
    <!--This razor component displays ALL errors found by the validations done by the DataAnnotationsValidator component.-->
    <ValidationSummary/>

    <div class="form-group">
        <label for="name">Inventory Name</label>

        <!--InputText is a built-in Blazor component that we're using rather than HTML's standard input tag.-->
        <InputText
            id="name"
            @bind-Value="inventory.InventoryName"
            class="form-control">
        </InputText>
        <!--Unlike the ValidationSummary component above, this component shows only errors found in this field of the form.-->
        <ValidationMessage For="() => inventory.InventoryName"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="name">Quantity</label>

        <!--InputNumber is another built-in Blazor component.-->
        <InputNumber
            id="quantity"
            @bind-Value="inventory.Quantity"
            class="form-control">
        </InputNumber>
        <ValidationMessage For="() => inventory.Quantity"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="name">Price</label>

        <!--InputNumber is another built-in Blazor component.-->
        <InputNumber
            id="price"
            @bind-Value="inventory.Price"
            class="form-control">
        </InputNumber>
        <ValidationMessage For="() => inventory.Price"></ValidationMessage>
    </div>

    <br/>
    <!--The type for this button must be submit so that it will submit the form when clicked. It won't work if the type is button.-->
    <button type="submit" class="btn btn-primary">Save</button>
    
    <a href="/inventories" class="btn btn-primary">Cancel</a>
</EditForm>

@code 
{
    [SupplyParameterFromForm]
    private Inventory inventory { get; set; } = new Inventory();

    private async Task Save()
    {
        await AddInventoryUseCase.ExecuteAsync(inventory);

        NavigationManager.NavigateTo("/inventories");
    }
}
