@page "/inventories"

<h3>Inventory List</h3>
<br/>
<br/>

<SearchComponent OnSearch="HandleSearch"/>
<br/>

<InventoryListComponent SearchInventoryFilter="@_inventorySearchFilter"/>
<br/>
<a href="/addinventory" class="btn btn-primary">Add Inventory</a>

@code 
{
    private string? _inventorySearchFilter;

    private void HandleSearch(string searchFilter)
    {
        _inventorySearchFilter = searchFilter;
    }
}
