
<!--These using statements are commented out, since we moved them into _Imports.Blazor. This way they are all centralized in one place.
    This way we don't have to repeat them here at the top of every component's file.-->
<!--
@using IMS.CoreBusiness
@using IMS.UseCases.Inventories.Interfaces
-->

@inject IGetInventoriesByNameUseCase GetInventoriesByNameUseCase

<!--This commented out code block is the original super simple test implementation.-->
<!--
<ul>
    @if (inventories is not null && inventories.Count > 0)
    {
        foreach (Inventory inventory in inventories)
        {
            <li>
                @inventory.InventoryName
            </li>
        }
    }
</ul>
-->

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (_inventories is not null && _inventories.Count > 0)
        {
            foreach (Inventory inventory in _inventories)
            {
                <InventoryListItemComponent Inventory="inventory"></InventoryListItemComponent>
            }
        }
    </tbody>
</table>


@code
{
    private List<Inventory>? _inventories;

    [Parameter] 
    public string? SearchInventoryFilter { get; set; }

    /// <summary>
    /// This method is called when the component's parameters are set or updated. It fetches the list of inventories based on the search filter.
    /// </summary>
    /// <remarks>
    /// Previously, this was the OnInitializedAsync method, but it was changed to OnParametersSetAsync to ensure that the inventory list is updated
    /// whenever the SearchInventoryFilter parameter changes.
    /// </remarks>
    protected override async Task OnParametersSetAsync()
    {
        _inventories = (await GetInventoriesByNameUseCase.ExecuteAsync(SearchInventoryFilter ?? "")).ToList();
    }
}
