
@inject IDeleteInventoryByIdUseCase DeleteInventoryUseCase
@inject NavigationManager NavigationManager

@if (this.Inventory is not null)
{
    <tr>
        <td>@Inventory.InventoryName</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price</td>
        <td>
            <a class="btn btn-light"
               style="background-color: wheat;"
               href="/editinventory/@Inventory.InventoryID">
                Edit
            </a>
        </td>
        <td>
            <!-- We added Enhance="true" here to enable enhanced form handling. We can also call this partial page rendering.
                 It causes only the part of the page that needs to be updated to be re-rendered, rather than the entire page. 
                 This is useful for performance and user experience, especially in larger applications, as it means we don't
                 re-download the entire page every time the user deletes an inventory.
            -->
            <EditForm
                Enhance="true"
                Model="Inventory"
                FormName="@($"form-delete_inventory-{Inventory.InventoryID}")"
                OnValidSubmit="() => DeleteInventoryAsync(Inventory.InventoryID)">

                <button type="submit" class="btn btn-light" style="color: white; background-color: crimson;">Delete</button>
            </EditForm>
        </td>
    </tr>
}

@code 
{
    [Parameter]
    public Inventory? Inventory { get; set; }

    private async Task DeleteInventoryAsync(int inventoryID)
    {
        await DeleteInventoryUseCase.ExecuteAsync(inventoryID);
        NavigationManager.Refresh();
    }
}
