
@if (_searchFilter is null)
{
    _searchFilter = string.Empty;
}

<!-- We added Enhance="true" here to enable enhanced form handling. We can also call this partial page rendering.
     It causes only the part of the page that needs to be updated to be re-rendered, rather than the entire page. 
     This is useful for performance and user experience, especially in larger applications, as it means we don't
     re-download the entire page every time the user searches.
-->
<EditForm Enhance="true" Model="_searchFilter" FormName="FormSearch" OnSubmit="Search">
    <div class="input-group">
        <InputText class="form-control"
                   placeholder="Type something here to search"
                   @bind-Value="_searchFilter">
        </InputText>

        <button type="submit"
                class="btn-success input-group-text"
                style="color: white; background-color: darkgreen;">
            Search
        </button>
    </div>
</EditForm>

@code 
{
    [SupplyParameterFromForm]
    private string _searchFilter { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void Search()
    {
        // NOTE: This OnSearch callback we made is similar to a C# delegate, but it is not the same thing.
        OnSearch.InvokeAsync(_searchFilter);
    }
}
