@page "/produceproduct"

@rendermode InteractiveServer

@inject IJSRuntime JSRuntime

@using IMS.UseCases.Inventories
@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent

@inject IGetProductsByNameUseCase GetProductsByNameUseCase
@inject IGetProductByIdUseCase GetProductByIdUseCase
@inject IProduceProductUseCase ProduceProductUseCase

<h3>Produce Product</h3>
<br/>

<EditForm id="produce-form" Model="_produceViewModel" OnValidSubmit="Produce">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="po">Production #</label>
        <InputText id="po"
                   class="form-control"
                   @bind-Value="_produceViewModel.ProductionNumber" />
    </div>

    <br />

    <div class="card">
        <div class="card=body">
            <div class="form-group">
                <AutoCompleteComponent Label="Product to Produce"
                                       SearchFunction="SearchProduct"
                                       OnItemSelected="OnItemSelected" />
            </div>
        </div>
    </div>

    <br />

    <div class="form-group">
        <label for="qty">Quantity</label>
        <InputNumber id="qty"
                     class="form-control"
                     @bind-Value="_produceViewModel.QuantityToProduce" />
    </div>

    <br />

    <button type="submit"
            class="btn btn-primary">
        Produce
    </button>

</EditForm>

@code 
{
    private ProduceProductViewModel _produceViewModel = new();
    private Product? _selectedProduct;


    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            // Call the preventFormSubmission() function in our javascript file (JS_Interop.js in the wwwroot folder).
            // This script prevents the Enter key from submitting the form like it does by default.
            // The first parameter here is the name of the Javascript function to call, and the second is the ID of
            // the form we want to ignore the Enter key rather than submitting.
            // NOTE: For this to work, our javascript file needs to be included in app.razor as well.
            JSRuntime.InvokeVoidAsync("preventFormSubmission", "produce-form");

            // .NET 10 also added a couple new functions as you can see below.
            // NOTE that this function has to be changed to be an async function in order to use await here.
            //string url = await JSRuntime.GetValueAsync<string>("document.location.href");
            //JSRuntime.SetValueAsync("document.title", $"Purchase Inventory ({url})");
            // These two function allow you to get and set values of properties in the DOM (document object model)
            // in the browser, which is its internal representation of the page.

            // .NET 10 also added a function to create a javascript object. The first parameter is the name of the javascript
            // class we want to create an instance of. This Car class is also defined in JS_Interop.js.
            // The rest of the parameters are the values expected by the car class' constructor (make, model, and year).
            //var myCar = await JSRuntime.InvokeConstructorAsync("Car", "Chevy", "Camaro", 2025);
            // The following line calls the car class' getDescription(function);
            //string description = await myCar.InvokeAsync<string>("getDescription");
            // And here we use GetValueAsync() to get the value of one of Car's properties:
            //string make = await myCar.GetValueAsync<string>("make");
        }
    }

    private async Task<List<ItemViewModel>?> SearchProduct(string searchFilter)
    {
        var list = await GetProductsByNameUseCase.ExecuteAsync(searchFilter);
        if (list is null)
            return null;

        // This is called projection. We are projecting the list of found products from type IEnumerable<Product> to type List<ItemViewModel>.
        // This is a common pattern in C# when you want to transform a collection of one type into a collection of another type.
        return list.Select(x => new ItemViewModel() { ID = x.ProductID, Name = x.ProductName })?.ToList();
    }

    private async Task OnItemSelected(ItemViewModel item)
    {
        _selectedProduct = await GetProductByIdUseCase.ExecuteAsync(item.ID);

        _produceViewModel.ProductID = item.ID;
        _produceViewModel.Product = _selectedProduct;
    }

    private async Task Produce()
    {
        await ProduceProductUseCase.ExecuteAsync(
            _produceViewModel.ProductionNumber,
            _selectedProduct,
            _produceViewModel.QuantityToProduce,
            "Mike"); // This name is just temporarily hard coded for now.

        // Create a new ProduceProductViewModel. This causes the UI to be cleared since this variable now has all empty fields.
        _produceViewModel = new();
        
        _selectedProduct = null;
    }
}
