@page "/purchaseinventory"

@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent

<!--This is required since we are passing a function defined in this component into the AutoCompleteComponent.-->
@rendermode InteractiveServer

@inject IGetInventoriesByNameUseCase GetInventoriesByNameUseCase

<h3>Puchase Inventory</h3>
<br/>

<AutoCompleteComponent 
    Label="Inventory"
    SearchFunction="SearchInventory"
    OnItemSelected="HandleItemSelected"/>
    

<br/>
@(_selectedItem != null ? _selectedItem.Name : string.Empty)

@code 
{
    private ItemViewModel? _selectedItem;

    private List<ItemViewModel>? SearchInventory(string searchFilter)
    {
        // We are using ".GetAwaiter().GetResult()" here because ExecuteAsync() is an asynchronous method, but this SearchInventory method is synchronous.
        // This is a common pattern in C# when you need to call an async method from an async context. However, be cautious with this approach, as it can
        // lead to deadlocks in certain scenarios. In this case, it's safe because we are in a Blazor component and not in a UI thread context.
        var list = GetInventoriesByNameUseCase.ExecuteAsync(searchFilter).GetAwaiter().GetResult();
        if (list is null)
            return null;

        // This is called projection. We are projecting the list of found inventories from type IEnumerable<Inventory> to type List<ItemViewModel>.
        // This is a common pattern in C# when you want to transform a collection of one type into a collection of another type.
        return list.Select(x => new ItemViewModel() { ID = x.InventoryID, Name = x.InventoryName })?.ToList();
    }

    private void HandleItemSelected(ItemViewModel item)
    {
        _selectedItem = item;
    }
}
