@page "/purchaseinventory"

@using IMS.UseCases.Activities.Interfaces
@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent

<!--This is required since we are passing a function defined in this component into the AutoCompleteComponent.-->
@rendermode InteractiveServer

@inject IJSRuntime JSRuntime

@inject IGetInventoriesByNameUseCase GetInventoriesByNameUseCase
@inject IGetInventoryByIdUseCase GetInventoryByIdUseCase
@inject IPurchaseInventoryUseCase PurchaseInventoryUseCase

<h3>Puchase Inventory</h3>
<br/>

<EditForm id="purchase-form" Model="_purchaseViewModel" OnValidSubmit="Purchase">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="po">Purchase Order #</label>
        <InputText 
            id="po"
            class="form-control"
            @bind-Value="_purchaseViewModel.PurchaseOrderNumber" 
        />
    </div>
    
    <br />

    <div class="card">
        <div class="card=body">
            <div class="form-group">
                <AutoCompleteComponent 
                    Label="Inventory to Purchase"
                    SearchFunction="SearchInventory"
                    OnItemSelected="OnItemSelected"/>
        
                @if (_purchaseViewModel.InventoryID > 0 && _purchaseViewModel.InventoryPrice >= 0)
                {
                    <text>Price:</text>
                    @_purchaseViewModel.InventoryPrice.ToString("C")
                }
            </div>
        </div>
    </div>
    
    <br />

    <div class="form-group">
        <label for="qty">Quantity</label>
        <InputNumber 
            id="qty"
            class="form-control"
            @bind-Value="_purchaseViewModel.QuantityToPurchase" 
        />
    </div>
    
    <br />
    
    <button 
        type="submit"
        class="btn btn-primary">Purchase</button>

</EditForm>


@code 
{
    private PurchaseInventoryViewModel _purchaseViewModel = new();

    private Inventory? _selectedInventory = null;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            // Call the preventFormSubmission() function in our javascript file (JS_Interop.js in the wwwroot folder).
            // This script prevents the Enter key from submitting the form like it does by default.
            // The first parameter here is the name of the Javascript function to call, and the second is the ID of
            // the form we want to ignore the Enter key rather than submitting.
            // NOTE: For this to work, our javascript file needs to be included in app.razor as well.
            JSRuntime.InvokeVoidAsync("preventFormSubmission", "purchase-form");

            // .NET 10 also added a couple new functions as you can see below.
            // NOTE that this function has to be changed to be an async function in order to use await here.
            //string url = await JSRuntime.GetValueAsync<string>("document.location.href");
            //JSRuntime.SetValueAsync("document.title", $"Purchase Inventory ({url})");
            // These two function allow you to get and set values of properties in the DOM (document object model)
            // in the browser, which is its internal representation of the page.

            // .NET 10 also added a function to create a javascript object. The first parameter is the name of the javascript
            // class we want to create an instance of. This Car class is also defined in JS_Interop.js.
            // The rest of the parameters are the values expected by the car class' constructor (make, model, and year).
            //var myCar = await JSRuntime.InvokeConstructorAsync("Car", "Chevy", "Camaro", 2025);
            // The following line calls the car class' getDescription(function);
            //string description = await myCar.InvokeAsync<string>("getDescription");
            // And here we use GetValueAsync() to get the value of one of Car's properties:
            //string make = await myCar.GetValueAsync<string>("make");
        }
    }

    private List<ItemViewModel>? SearchInventory(string searchFilter)
    {
        // We are using ".GetAwaiter().GetResult()" here because ExecuteAsync() is an asynchronous method, but this SearchInventory method is synchronous.
        // This is a common pattern in C# when you need to call an async method from an async context. However, be cautious with this approach, as it can
        // lead to deadlocks in certain scenarios. In this case, it's safe because we are in a Blazor component and not in a UI thread context.
        var list = GetInventoriesByNameUseCase.ExecuteAsync(searchFilter).GetAwaiter().GetResult();
        if (list is null)
            return null;

        // This is called projection. We are projecting the list of found inventories from type IEnumerable<Inventory> to type List<ItemViewModel>.
        // This is a common pattern in C# when you want to transform a collection of one type into a collection of another type.
        return list.Select(x => new ItemViewModel() { ID = x.InventoryID, Name = x.InventoryName })?.ToList();
    }

    private async Task OnItemSelected(ItemViewModel item)
    {
        _selectedInventory = await GetInventoryByIdUseCase.ExecuteAsync(item.ID);

        _purchaseViewModel.InventoryID = item.ID;
        _purchaseViewModel.InventoryPrice = _selectedInventory.Price;
    }

    private async Task Purchase()
    {
        await PurchaseInventoryUseCase.ExecuteAsync(
            _purchaseViewModel.PurchaseOrderNumber,
            _selectedInventory,
            _purchaseViewModel.QuantityToPurchase,
            "Mike"); // This name is just temporarily hard coded for now.

        // Create a new PurchaseInventoryViewModel. This causes the UI to be cleared since this variable now has all empty fields.
        _purchaseViewModel = new();
        
        _selectedInventory = null;
    }
}
